body{
    background-image: url(https://i.pinimg.com/originals/0f/88/3e/0f883e6f5db348671c1e26a7dfd2e5f3.gif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}

.root{
    min-height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
}
/* HEADER */
h1{
    text-align: center;
    color: #ff1;
    padding: 25px 0px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 55px;
    background-color: rgb(0,1,26);
    margin-top: 20px;
}
/* HEADER */

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color:aqua;
    padding: 20px;
}
h3{
    font-size: 22px;
    width: 100%;
}
.fa-heart{
    color: red;
}
/* FOOTER */

/* The Table */
.fowe{
    font-weight: 600;
    color: white;
}
.MAC331{
    background-color: #2ab7ca !important;
}
.PHC333{
    background-color: #f6abb6 !important;
}
.MEC304{
    background-color: #ff156f !important;
}
.MEC303{
    background-color: #005b96 !important;
}
.MEC302{
    background-color: #009688 !important;
}
.MEC301{
    background-color:  #3d1e6d  !important;
}
.PHS383{
    background-color: #00b159 !important;
}
.Noclass{
    background-color: rgb(255, 251, 251) !important;
    font-weight: 500;
}
.time,.days{
    background-color: rgb(0,1,86) !important;
    color: #ff1;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}
/* The Table */

@media(max-width:450px){
    body{
        background-position: unset;
    }
    h1{
        font-size: 35px;
    }
    .break{
        display: block;
    }
}
.subjects{
    background-color: #ddd;
}
.sub-table{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding: 50px 0;
}
.sub-table h3{
    color: white;
    flex: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin: 15px;
    padding: 15px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.sub-table h3:hover{
    box-shadow: 0 0 10px 4px rgba(0, 255, 255, 0.651);
    transition: 0.5s;
}
.exam-table{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding: 80px 0;
}
.exam-table .exams{
    background: #000;
    flex: 1;
    text-align: center;
    color: white;
    flex: 1;
    font-weight: 700;
    margin: 15px;
    padding: 12px 20px;
    text-align: center;
    letter-spacing: 2px;
    padding: 25px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
    animation: examborder 2.5s infinite alternate;
}
@keyframes examborder{
    0%{
        box-shadow: 0 0 10px 4px chartreuse;
    }
    33%{
        box-shadow: 0 0 10px 4px yellow;
    }
    66%{
        box-shadow: 0 0 10px 4px red;
    }
    100%{
        box-shadow: 0 0 10px 4px aqua;
    }
}
.exam-table .exams:hover{
    transition: 0.5s;
    background-color: rgb(0,1,46);
}
.exam-logo{
    font-size: 55px;
    border-radius: 50%;
    display: block;
    margin: 15px 0;
    color: yellow;
}
.exam-time{
    font-weight: 500;
    color: aqua;
    height: 100%;
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 25px;
}
.fa-radiation{
    color: yellow;
}
.fa-skull{
    color: orangered;
}
.fa-skull-crossbones{
    color: red;
}
@media(max-width:800px){
    .exam-table{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
    }
    .exam-table .exams{
        width: 90%;
    }
    .exam-table h3{
        margin: 15px 0;
     }
}
/* Contribute For Future */
/* 
.contri h4{
    color: white;
    background-color: black;
    width: 200px;
    position: fixed;
    top: 8px;
    right: 0;
    padding: 15px;
    border-right: 5px solid aqua;
    box-shadow: 0 0 10px 1px rgba(0, 255, 255, 0.384);
    border-top-left-radius:    45px;
    border-bottom-left-radius: 45px;
    letter-spacing: 1px;
} */

/* Contribute */